<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon cui-dashboard"></i> Dashboard
                </a>
            </li>
            <li class="nav-title">Manage</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-handbag"></i> Products
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">
                            <i class="nav-icon fa fa-angle-right"></i> View All
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a class="nav-link" href="/products/add">
                            <i class="nav-icon fa fa-angle-right"></i> Add New
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:;">
                    <i class="nav-icon fa fa-clone fa-lg"></i> Categories
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">
                            <i class="nav-icon fa fa-angle-right"></i> View All
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories/add">
                            <i class="nav-icon fa fa-angle-right"></i> Add New
                        </a>
                    </li>
                </ul>
            </li>
             <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="javascript:;">
                    <i class="nav-icon icon-people"></i> Users
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/users">
                            <i class="nav-icon fa fa-angle-right"></i> View All
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/users/add">
                            <i class="nav-icon fa fa-angle-right"></i> Add New
                        </a>
                    </li> -->
                </ul>
            </li>
            
            @*<li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                    <i class="nav-icon icon-cloud-download"></i> Download CoreUI
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                    <i class="nav-icon icon-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>*@
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>